<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">

<head>
    <title>Posting</title>
    <link rel="stylesheet" th:href="@{/markdown/css/github-gist.css}"/>
    <link rel="stylesheet" th:href="@{/css/comments.css}"/>
    <script type="text/javascript" th:inline="javascript">
        function deleteComment(postId, commentId) {
            document.getElementById("deleteComment").action = "/comments/" + postId + "/" + commentId;
            document.getElementById("deleteComment").submit();
        }
    </script>
</head>

<body>
<div class="container" layout:fragment="content">
    <ul class="pager" sec:authorize="hasRole('ROLE_ADMIN')">
        <li class="next">
            <a th:href="@{'/posts/edit/' + ${post.id}}">edit</a>
        </li>
    </ul>
    <div class="row">
        <h1 class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" style="margin-bottom:3%"
            th:text="${post.title}">
        </h1>
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" th:utext="${post.content}">
        </div>
    </div>
    <div class="row" style="padding-top: 100px;">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h4 id="addComment">Leave a Comment:</h4>
            <form th:action="@{/comments}"
                  th:object="${commentDto}" method="post" th:id="comment">
                <input type="hidden" th:value="${post.id}" id="postId" name="postId"/>
                <div class="well" sec:authorize="hasRole('ROLE_USER')"
                     th:classappend="(${#fields.hasErrors('content')}? ' has-error')">
                    <input type="text" class="form-control input-lg" id="content" name="content"
                           placeholder="content"/>
                    <span class="help-block" th:if="${#fields.hasErrors('content')}"
                          th:errors="*{content}"></span>
                    <ul class="pager" style="text-align:right;">
                        <li class="next">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </li>
                    </ul>
                </div>
                <p class="well" sec:authorize="!hasRole('ROLE_USER')">Please <a th:href="@{/login}">sign in</a> to add
                    comments!</p>
            </form>
            <form th:object="${commentDto}" th:action="@{/}" method="post" th:id="deleteComment">
                <ul class="media-list comments" th:each="comment : ${post.comments}">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle img-thumbnail" th:src="${comment.user.avatarUrl}"
                                 src="http://snipplicious.com/images/guest.png" width="64"
                                 alt="Generic placeholder image"/>
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading pull-left">wonwoo</h5>
                            <div class="comment-info pull-left">
                                <div class="btn-default btn-xs"
                                     th:text="${#temporals.format(comment.regDate, 'yyyy-MM-dd')}"><i
                                        class="fa fa-clock-o"></i> Posted 3 weeks ago
                                </div>
                            </div>
                            <span style="top: 22px;"
                                  th:onclick="'deleteComment(\'' + ${comment.post.id} + '\', \'' + ${comment.id} + '\');'"
                                  sec:authorize="hasRole('ROLE_USER')"
                                  th:if="${#authentication.principal.github == comment.user.github}"
                                  class="glyphicon glyphicon-remove"></span>
                            <p class="well" th:text="${comment.content}">This is really awesome snippet!</p>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
</body>

</html>