<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">

<head>
    <title>HOME</title>
</head>
<body>
<!-- Main Content -->
<div class="container" layout:fragment="content">
    <div class="row">
        <ul class="pager" sec:authorize="hasRole('ROLE_ADMIN')">
            <li class="next">
                <a th:href="@{/posts/new}">write</a>
            </li>
        </ul>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview" th:each="post : ${posts.content}">
                <a th:href="@{'/posts/' + ${post.id}}">
                    <h2 class="post-title" th:text="${post.title}">
                    </h2>
                </a>
                <div>
                    <p style="margin: 10px 0px;">Posted by <strong th:if="${post.user}"
                                                                   th:text="${post.user.name}"></strong> on <strong
                            th:text="${#temporals.format(post.regDate, 'yyyy-MM-dd')}"> </strong> category <strong
                            th:text="${post.category.name}"></strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 5%">
        <div class="col-lg-3 col-lg-offset-1 col-md-10 col-md-offset-1">
            <div sd:pagination-summary="">info</div>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-md-10 col-md-offset-1">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true"></span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>